@import "./variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 1rem;
    line-height: 1.5;
}

li {
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: $medium;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

#background {
    position: fixed;
    width: 100%;
    height: 100vh;
}

#background img {
    width: 400%;
    height: 95vh;

    @include tablet-ls {
        left:-50px;
        width: 120%;
        height: 100vh;
    }
    
}

.cont-grid {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: $gridarea-template;  
@include tablet-ls {
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 0;
    left: 25px;
}

@include desktop {
    left: 250px;
}

}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-left:auto;
    margin-right:auto;

    @include tablet {
        max-width: $breakpoint-tablet-max;
    }

    @include tablet-ls {
        max-width: $breakpoint-tablet-ls-max;
    }

    @include desktop {
        max-width: $breakpoint-desktop-max;
    }

}

.border {
    border: 1px solid #707070;
   }

#navbar {
    display: grid;
    height: 80px;
    grid-row: 1;
    align-items: center;
    grid-template-columns: 0.5fr 2fr;

/* @include tablet {
    height: 80px;
    grid-area: navbar;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 2fr 1fr 0.5fr 0.2fr;
} */

@include tablet-ls {
    height: 113px;
    grid-area: navbar;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 2fr 1fr 0.5fr 0.2fr;
}

@include desktop {
    height: 113px;
    grid-area: navbar;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 2fr 1fr 0.5fr 0.2fr;
}

}


.border-under {
    border-bottom: 1px solid $lightgrey ;
}

#logo img{
    height: 3rem;

    @include tablet-ls {
        height: 2.2rem;
    }
}

#company {
    text-align: start;
    font-family: $secondary-font;
    font-weight: $bold;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 0 2rem;
 

    @include tablet {
        padding: 0 6rem;
        font-size: 2rem; 
    }

    @include tablet-ls {
        padding: 0 1rem;
        font-size: 1.5rem;
    }
}

.menu {
    display: none;

    @include tablet-ls {
        display: flex;
    }
}

.menu ul{
    display: flex;

    @include tablet-ls {
        display: flex;
    }

}

.menu ul li {
    margin: 0 1rem;
    cursor: pointer;
    
    @include tablet-ls {
        margin: 0 1rem;
        cursor: pointer;
    }
}

.menu ul li:hover {
    color: $gradient-endcolor;
}

.search {
    display: none;

    @include tablet-ls {
        display: block;
        text-align: center;
        cursor: pointer;
    }
}

.tryitfree {
    display: none;
  

    @include tablet-ls {
        display: flex;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-weight: $medium;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 42px;
    border: 1px solid $date-orange;
    border-radius: 5px;
    background-image: none;
    cursor: pointer;
    
    }
}

.tryitfree:hover{
    @include tablet-ls {
        background-image: $gradientcolor;
    }
}

.box {
    padding: 1rem;
}

#showcase {
    background-color: $lightgrey;
    grid-area: showcase;
}